<!DOCTYPE html>
<html lang="en" >
<title> Cadastro do Evento </title>
  <head>
    <link href="../static/main.css" rel= "stylesheet">
  </head>
  <body>
    <div class="container">
      <h1>Cadastro do Evento</h1>
      <h3>Por favor insira os dados do evento.</h3>
      <div class="message">
        {{text | safe}}
      </div>
      <form action="{{url_for('successo')}}" method="POST">
        <input title="" placeholder="Nome do Evento" type="text" name="nome_eve" required> <br>
        <input title="" placeholder="Código do Evento" type="text" name="codigo_eve" required> <br>
        <input title="" placeholder="Data" type="date" name="data_eve" required> <br>
        <input title="" placeholder="Local" type="text" name="local_eve" required> <br>
        <input title="Se o evento for on-line o campo não é obrgatório" placeholder="Estado" type="text" name="estado_eve" > <br>
        <input title="" placeholder="Cidade" type="text" name="cidade_eve" > <br>
        <input title="" placeholder="Rua" type="text" name="rua_eve" > <br>
        <input title="" placeholder="Cep" type="text" name="cep_eve" > <br>
        <input title="" placeholder="Site" type="text" name="site_eve" required > <br>
        <input title="" placeholder="Palestrante/Entidade" type="text" name="responsavel_eve" required > <br>
        <input title="" placeholder="Assunto" type="text" name="assunto_eve" required > <br>
        <input title="" placeholder="Telefone de contato" type="text" name="telefone_eve" required > <br>
        <input title="" placeholder="E-mail de contato" type="e-mail" name="email_name" required > <br>
        <button type="submit">  Enviar </button>
      </form>
      <form action="/" method="get">
        <button type="submit" >Início</button>
      </form>
    </div>
  </body>
</html>
