<!DOCTYPE html>
<html lang="en" dir="ltr">
<title> Módulo Evento </title>
  <head>
    <link href="../static/main.css" rel= "stylesheet">
  </head>
  <div class="container">
  <h1>Bem-vindo ao Módulo de Eventos</h1>
  <h3>Selecione a opção desejada...</h3>
  <div class="message">
    </div>
    <form action="/cadastro" method="get">  <button type="submit" > Cadastrar</button> </form>
    <form action="/busca" method="get">  <button type="submit" >Buscar</button> </form>
    <form action="/lista" method="get">  <button type="submit" >Listar </button> </form>
    <form action="/alterar" method="get">  <button type="submit" >Alterar </button> </form>
    <form action="/deleta" method="get">  <button type="submit" >Excluir </button> </form>
  </div>
  <body>
    </div>
  </body>
</html>
